.error-block #menu {
    padding-left:323px;
    height:16px;
    margin-bottom:-15px;
}

.error-block .button {
    font-size:14px;
    padding:3px 8px;
}
.error-block {
    width:900px;
    margin:50px auto;
}

.error-block article {
    margin-bottom:20px;
    float:left;
    width:100%;
}

.error-block article .map-container {
    float:left;
    width:300px;
    height:300px;
    overflow:hidden;
    border:6px solid #fff;
    background:#fff;

    -webkit-border-radius:150px;
    -moz-border-radius:150px;
    border-radius:150px;
    -webkit-box-shadow:0px 0px 5px #ccc;
    box-shadow:0px 0px 5px #ccc;
}

.error-block article .map-container img {
    width:300px;
    height:300px;

    -webkit-border-radius:150px;
    -moz-border-radius:150px;
    border-radius:150px;
}

.error-block article section {
    margin-top:25px;
    width:560px;
    min-height:245px;
    padding:10px;
    padding-bottom:20px;
    float:right;
    background:#fff;
    position:relative;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow:0px 0px 2px #ccc;
    box-shadow:0px 0px 2px #ccc;
}

.error-block article section:after {
    content:'';
    display:block;
    position:absolute;
    z-index:1;

    top:105px;
    left:0px;

    width:30px;
    height:40px;
    background:#fff;
}

.error-block article section:before {
    content:'';
    display:block;
    position:absolute;
    z-index:1;

    top:110px;
    left:-15px;

    width:30px;
    height:30px;
    background:#fff;

    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);

    -webkit-box-shadow:0px 0px 2px #ccc;
    box-shadow:0px 0px 2px #ccc;
}

.error-block article section {
    font-family:Tahoma;
}

.error-block article section * {
    z-index:2;
    position:relative;
}

.error-block article section h1 {
    margin:0px;
    padding:0px;
    padding-bottom:5px;
    border-bottom:1px solid #eee;

    color:#666666;
    font-family:Tahoma;
    font-weight:normal;
    font-size:30px;
    text-decoration:none;

    display:block;
    height:28px;

    background:url(../images/pinpoint.png) no-repeat -5px 7px;
    padding-left:30px;
    padding-top:2px;
    padding-bottom:15px;
}

.error-block article section dt {
    font-size:24px;
    color:#363636;
    margin-bottom:10px;
    font-family:Arial;
}

.error-block article section dd {
    margin-bottom:15px;
    margin-left:50px;
    color:#666666;
    font-weight:normal !important;
}

.error-block ul.users {
    list-style:none;
    margin:0px;
    padding:0px;
    padding-left:0px;
    line-height:28px;
}
.error-block ul.users li {
    float:left;
    padding-right:10px;
    color:#000;
}

.error-block ul.users li:after {
    content:',';
}

.error-block ul.users li:last-child:after {
    display:none;
}
