<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            {% stylesheets
                'bundles/event/css/event.css'
                'bundles/event/css/events.css'
                'bundles/event/css/main.css'
                filter='cssrewrite'
            %}

                <link rel="stylesheet" href="{{ asset_url }}"/>

            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% if app.session.flashBag.has('Success!') %}
                <div class="alert-message Success!">
                    {% for msg in app.session.flashBag.get('Success!') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/event/js/main_jquery.blockUI_1.js') }}"></script>
        {% endblock %}
    </body>
</html>
