{# app/Resources/TwigBundle/views/Exception/error.html.twig #}

{% extends '::base.html.twig' %}

{% block body %}
<section class="main-block">
    <article>
        <section>
            <h1>Event not found!!!</h1>

            <div>Check out these other events instead...</div>
        </section>
    </article>
</section>
<section class="events">
    {{ render(controller('EventBundle:Event:_upcomingEvents')) }}
</section>
{% endblock %}

